{% extends "base.html" %}


{% block js %}
<script>
    var synth = T("OscGen", {wave:"saw", mul:0.25}).play();

    var keydict = T("ndict.key");
    var midicps = T("midicps");
    T("keyboard").on("keydown", function(e) {
      var midi = keydict.at(e.keyCode);
      if (midi) {
        var freq = midicps.at(midi);
        $("#freq").html("freq: " + freq)
        synth.noteOnWithFreq(freq, 100);
      }
    }).on("keyup", function(e) {
      var midi = keydict.at(e.keyCode);
      if (midi) {
        synth.noteOff(midi, 100);
      }
    }).start();


    var plot_y_range = [0, 700];
    var y_height = plot_y_range[1] - plot_y_range[0];
    var plot_height = 200;
    var canvas = document.getElementById("plotarea");
    var ctx = canvas.getContext("2d");
    ctx.fillStyle = "#FF0000";
    ctx.strokeStyle = "black";
    ctx.lineWidth = 1;
    //ctx.fillRect(0,0,150,75);
    ctx.beginPath();
    ctx.rect(0, 0, 1000, 200);
    ctx.stroke();
    ctx.save();


    var direction = 1;
    var freq = 440;
    var freq2 = 440;

    gen = T("sin", {freq:freq, mul:0.25})
    gen.play();

    var x = 0
    var interval = T("interval", {interval:1000}, function(count) {
      freq = freq+32*direction;
      freq2 = freq+32*direction;

     
      if (count === 7) {
        interval.stop();
        direction = -direction;
        interval.start();    
      }
      y1 = Math.round((plot_height/y_height)*freq);
      y2 = Math.round((plot_height/y_height)*freq2);

      $("#freq").html("freq1: " + freq + " freq2: "+ freq2 + " x: " + x+1 +" y: " + y2);
      ctx.beginPath();
      ctx.moveTo(x,y1);
      ctx.lineTo(x+1, y2);
      ctx.stroke();
      ctx.save();
      x = x + 1;

      var freqs = T("param", {value:freq}).expTo(freq2, "500ms");
      gen.set({freq:freqs});
    }).start();

</script>
{% endblock %}
{% block main %}
<div id="freq"></div>
<canvas id="plotarea" style="width:1000px;height:200px" width="1000" height="200"></canvas>
{% endblock %}